<?xml version='1.0' encoding='windows-1252'?>

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <Product
    Id='*'
    Name='worship-screens'
    UpgradeCode='F44F98E1-EE6A-4911-BDCB-0657C16E521C'
    Manufacturer='Sergio Ribera'
    Language='1033'
    Codepage='1252'
    Version='$(var.Version)'>

    <Package
      InstallerVersion='500'
      Compressed='yes'
      InstallScope='perMachine'
      SummaryCodepage='1252'
      Description='Present image/video/animations with text/verse on external monitor'
      Manufacturer='Sergio Ribera' />

    <MajorUpgrade
      Schedule='afterInstallInitialize'
      DowngradeErrorMessage='A newer version of [ProductName] is already installed.' />

    <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' />

    <!-- =====================
         Directory structure
         ===================== -->

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='$(var.PlatformProgramFilesFolder)'>
        <Directory Id='APPLICATIONFOLDER' Name='worship-screens' />
      </Directory>

      <Directory Id='ProgramMenuFolder'>
        <Directory Id='StartMenuDir' Name='worship-screens' />
      </Directory>

      <Directory Id='DesktopFolder' />
    </Directory>

    <!-- =====================
         Components
         ===================== -->

    <!-- Main executable -->
    <Component Id='MainExecutable' Guid='*' Directory='APPLICATIONFOLDER'>
      <File
        Id='WorshipScreensExe'
        Source='$(var.CargoTargetBinDir)\worship-screens.exe'
        KeyPath='yes' />
    </Component>

    <!-- Start Menu shortcut -->
    <Component Id='StartMenuShortcutComponent' Guid='*' Directory='StartMenuDir'>
      <Shortcut
        Id='StartMenuShortcut'
        Name='Worship Screens'
        Target='[APPLICATIONFOLDER]worship-screens.exe'
        WorkingDirectory='APPLICATIONFOLDER'
        Advertise='no' />
      <RemoveFolder Id='RemoveStartMenuDir' On='uninstall' />
      <RegistryValue Root='HKCU' Key='Software\worship-screens' Name='StartMenu' Type='integer' Value='1' KeyPath='yes'/>
    </Component>

    <!-- Desktop shortcut -->
    <Component Id='DesktopShortcutComponent' Guid='*' Directory='DesktopFolder'>
      <Shortcut
        Id='DesktopShortcut'
        Name='Worship Screens'
        Target='[APPLICATIONFOLDER]worship-screens.exe'
        WorkingDirectory='APPLICATIONFOLDER'
        Advertise='no' />
      <RegistryValue Root='HKCU' Key='Software\worship-screens' Name='Desktop' Type='integer' Value='1' KeyPath='yes'/>
    </Component>

    <!-- =====================
         Features (checkboxes)
         ===================== -->

    <Feature
      Id='MainFeature'
      Title='Application'
      Level='1'
      Absent='disallow'
      Display='expand'
      ConfigurableDirectory='APPLICATIONFOLDER'>

      <ComponentRef Id='MainExecutable' />

      <Feature
        Id='StartMenuShortcutFeature'
        Title='Start Menu shortcut'
        Description='Create a Start Menu shortcut'
        Level='1'
        Absent='allow'>
        <ComponentRef Id='StartMenuShortcutComponent' />
      </Feature>

      <Feature
        Id='DesktopShortcutFeature'
        Title='Desktop shortcut'
        Description='Create a Desktop shortcut'
        Level='1'
        Absent='allow'>
        <ComponentRef Id='DesktopShortcutComponent' />
      </Feature>

    </Feature>

    <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

    <Property Id='ARPHELPLINK' Value='https://github.com/biblionlabs/worship-screens'/>

    <!-- =====================
         UI
         ===================== -->

    <UI>
      <UIRef Id='WixUI_FeatureTree' />
    </UI>

  </Product>

</Wix>
